  @font-face {
    font-family: 'Mifuente';
    src: url('ChettaVissto.ttf') format('truetype');
  }

  h1{
    font-family: 'Mifuente', sans-serif;
  }
   
   body {
        font-family: 'Mifuente', sans-serif;
        margin: 0;
        background-color: #f5f5f5;
        color: #ffffff;
      }

      header {
        background-color: #000000;
        color: white;
        text-align: center;
        padding: 15 px 30 px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      nav ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        background: #000000;
        margin: 0;
      }

      nav li {
        margin: 10px;
      }

      nav a {
        color: white;
        text-decoration: none;
        font-weight: bold;
      }

      main {
        padding: 20px;
        background: white;
        margin: 20px;
        border-radius: 10px;
      }

      section {
        margin-bottom: 20px;
      }

      article {
        background: #000000;
        padding: 15px;
        border-radius: 8px;
      }
      
      aside {
        background: #000000;
        padding: 10px;
        border-left: 4px solid #000000;
        border-radius: 8px;
        margin-top: 20px;
      }

      figure {
        text-align: center;
      }

      figcaption {
        font-style: italic;
      }

      footer {
        background-color: #000000;
        color: white;
        text-align: center;
        padding: 15px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
      }

      th,

      td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 15px;
      }

      input,
      textarea,

      button {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      .social-links a {
        margin: 0 8px;
        text-decoration: none;
        color: #f3f3f3;
        font-weight: bold;
      }

      #galeria{
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
      }

      .foto{
        width: 200px;
        
      }

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    padding: 5px 0;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0; /* se ubica justo debajo del texto */
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.foto {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  border: 2px solid white;
  background-color: gray;
}

nav a:hover::after{
   transform: scaleX(1);
}

.foto:nth-child(1){
  background-image: url("yo.jpg");

}

.foto:nth-child(2){
  background-image: url("yo.jpg");
  
}

.foto:nth-child(3){
  background-image: url("yo.jpg");
  
}

.oculto {
  display: none;
}


img,
.foto{
  user-select: none;
  pointer-events: none;
}

aside{
  margin-top: 30px;
}

.ocultar-aside{
  display: none;
}

.encabezado{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.logo{
  width: 50px;
  height: 50px;
}

#reloj {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 18px;
  color: #f3f3f3;
  font-family: "Mifuente", sans-serif;
}

.titulo-logo{
  display: flex;
  align-items: center;
  gap: 10 px;
}


      /* --- BOTON ANIMADO --- */
.social-links a {
  display: inline-block;         /* Hace que se comporte como botón */
  background-color: #000000;        
  color: #fff;                   
  padding: 10px 18px;            /* Espaciado interno del botón */
  border-radius: 8px;            /* Bordes redondeados */
  margin: 5px;                   /* Espacio entre botones */
  text-decoration: none;         /* Quita el subrayado */
  font-weight: bold;             /* Negrita */
  transition: transform 0.3s ease, background-color 0.3s ease; /* Animación suave */
}

/* --- Efecto HOVER para el cursor--- */
.social-links a:hover {
  transform: scale(1.15);        /* Hace que el botón se agrande */
  background-color: #ffffff;     /* Cambia el color de fondo al pasar el cursor */
  color: #000;                   /* Cambia el color del texto */
}




